h1 {
    text-align: center;
    font-family: 'Londrina Shadow', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(153, 107, 9, 0.5);
}

.container { 
    width:210px;
    height:20vh;
    margin:5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.container div {
    color: black;
    border-bottom: 3px solid rgb(23, 23, 23);
    border-right:  3px solid rgb(23, 23, 23);
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.container div:hover {
    background-color: #d6cfa0;
}

.container div[c = "2"] {
    border-right: none;
}

.container div[l = "2"] {
    border-bottom: none;
}

button {
    display: block;
    min-width: 100px;
    margin:0 auto;
}
